#animation-selected h1 {
    font-size: 32px;
}

.button {
    background-color: rgba(0,100,166,255);
    border: 5px solid transparent;
    border-radius: 5px;

    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 80%;


    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    transform: translateX(+10%)
}

.button:hover {
    border: 5px solid lightblue;
    border-radius: 5px;
}