.animation {
    background-color: lightblue;
    border-style: solid;
    border-color: red;

    margin: 5px 5px 5px 5px;

    width: 150px;
    height: 150px;

    overflow: hidden;
}

.image img {
    display: block;
    margin: 0px auto 5px auto;

    width: 82%;
    height: 82%;
}

.name {
    text-align: center;
    font-weight: bold;
}