#animations-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.animation {

    background-color: lightblue;
    border-style: solid;
    border-color: red;

    margin: 5px 5px 5px 5px;

    width: 150px;
    height: 150px;
}