body {
    font-family: Verdana, sans-serif;
}

#animations-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 1% 1.5%;

    background-color: white;
    border-style: solid;
    border-color: lightsalmon;
}

#animation-selected {
    height: 80%;
    width: 97%;

    margin: 1% 1.5%;

    background-color: white;
    border-style: solid;
    border-color: lightsalmon;
}

#animation-selected h1 {
    font-size: 32px;
}

.animation {

    background-color: lightblue;
    border-style: solid;
    border-color: red;

    margin: 5px 5px 5px 5px;

    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}

.image img {
    border-style: solid;
    border-color: red;   

    width: 120px;
    height: 120px;
}