.sphere {
    width: 500px;
    height: 500px;

    margin: 20px auto 20px auto;
}

.slider {
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

.info {
    display: grid;
    grid-template-columns: 15% 85%;

    margin: 2px auto 2px auto;
}

.info-topic {
    font-weight: bold;
}

#slider-value {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#co2-button {
    background-color: rgba(0,100,166,255);
    border: 5px solid transparent;
    border-radius: 5px;

    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 100%;


    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#co2-button:hover {
    border: 5px solid lightblue;
    border-radius: 5px;
}