#animation-selected h1 {
    font-size: 32px;
}

.no-animation-selected {
    width: 30%;
    height: auto;

    margin: 5% 2%;
} 

.adaptations {
    margin-bottom: 20px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}